<div class="footer w-full p-16 lg:px-56 bg-gray-100">
    <ul class="lg:flex ml-auto gap-96">
      <li class="w-56">
        <p class="text-2xl news-title font-semibold">Contact</p>
        <p>contactubo-patisserie.com‍</p>
      </li>
  
      <li class="flex gap-3 mt-6">
        <img
          src="https://assets-global.website-files.com/5c24a33f1110ec95beff12fa/5c25d7f49a1575522286865b_logo-fb.svg"
          alt=""
          width="30px"
          class="hover:-translate-y-1 ease-in-out duration-300 cursor-pointer"
        />
        <img
          src="https://assets-global.website-files.com/5c24a33f1110ec95beff12fa/5c25d7f59a1575bc9f86865c_logo-insta.svg"
          alt=""
          width="30px"
          class="hover:-translate-y-1 ease-in-out duration-300 cursor-pointer"
        />
      </li>
    </ul>
  </div>