<app-header [showCartButton]="false" class="absolute z-10 bg-black bg-opacity-20 top-0 w-full"/>

<app-toast [isDetailsInvalid]="isDetailsInvalid" [isDetailsValid]="isDetailsValid"></app-toast>

    <section class="page-wrapper wf-section relative">
      <div class="w-layout-grid grid_1-2">
        <div id="w-node-b994db6f-7fb4-032d-dad5-adb9c36920d2-447d2457">
          <img
            src="https://assets.website-files.com/646c9219c2344eff447d244f/646c96f2f9a86b1e25f3f8df_6447a80a2b62360f78754452_logo.svg"
            loading="lazy"
            id="w-node-_481d4ae6-07c3-0a1a-9f8a-81622cb36404-447d2457"
            alt=""
          />
          <h1 class="h1_white">
            Beauty Products <strong>with KylieFinds</strong>
          </h1>
        </div>
        <div
          id="w-node-_5b73318a-2f42-aadc-4944-7202ecbeb36d-447d2457"
          class="form-wrap"
        >
          <h1 class="h1">Register a new account</h1>
          <div class="form-block w-form">
            <form
            id="email-form"
            name="email-form"
            data-ms-form="login"
            class=""
            aria-label="Email Form"
            [formGroup]="registerForm"
            (ngSubmit)="submitDetails()"
          >
            <input
              type="text"
              class="w-full mb-5 focus:ring-0 focus:outline-none focus:border-purple-600"
              maxlength="256"
              formControlName="name"
              placeholder="Your name"
              id="name-2"
              data-ms-member="name"
            />

            
            
          
            <input
              type="email"
              class="w-full mb-5 focus:ring-0 focus:outline-none focus:border-purple-600"
              maxlength="256"
              formControlName="email"
              placeholder="Your e-mail"
              id="Email-2"
              data-ms-member="email"
            />
          
            <input
              type="password"
              class="w-full mb-5 focus:ring-0 focus:outline-none focus:border-purple-600"
              maxlength="256"
              formControlName="password"
              placeholder="Password"
              id="Password"
              data-ms-member="password"
              required=""
            />
            <div class="links-wrap">
              <div class="links">
                <a href="/login" class="link">Login</a>
              </div>
              

              @if(isSubmitButtonClicked){
                <div class="loader w-24">
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                </div>
              }

              @else {
                <button
                [disabled]="registerForm.invalid"
                type="submit"
                class="bg-blue-600 p-2 rounded-lg hover:bg-blue-800 text-white disabled:opacity-30"
              >
                Sign Up
              </button>
              }
             
              
            </div>
          </form>
          
            <div
              class="w-form-done"
              tabindex="-1"
              role="region"
              aria-label="Email Form success"
            >
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div
              class="w-form-fail"
              tabindex="-1"
              role="region"
              aria-label="Email Form failure"
            >
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="blob"></div>
    </section>
