<app-header />

<div class="p w-full p-14">
  <div class="shop-title w-full flex">
    <p class="ml-auto mr-auto news-title text-[2.5rem] pr-9">Shop</p>
  </div>

  <div class="product-list mt-12 grid grid-cols-2 lg:grid-cols-3 gap-8"  >
    <a  [routerLink]="['/single-product', product.id]" *ngFor="let product of products">
        <div class="product-item hover:scale-105 cursor-pointer ease-in-out duration-300 relative">
            <img
              [src]="product.image"
              alt=""
              width="600px"
              class="product-img max-h-[400px] object-cover"
            />
            <div class="name-price absolute bottom-0 w-full p-2 bg-white bg-opacity-50 flex">
              <p class="lg:text-2xl news-title">{{product.title}}</p>
              <p class="ml-auto lg:text-xl news-title">${{product.price}}</p>
            </div>
          </div>
    </a>
   

    

     

      
  </div>
</div>

<app-footer class="3xl:absolute 3xl:bottom-0 w-full" />
