.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: black;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: black;
  color: #fefefe;
  cursor: default;
}