
    <div class="lg:absolute w-full lg:w-[68%] bg-gray-100  py-8 px-24">
        <div class="head flex">
            <a href="/all-products">
                <div class="back flex mt-6">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
                      />
                    </svg>
                    <p class="back-text text-sm ml-3 font-semibold mt-[1px]">back to shopping</p>
                  </div>
            </a>
         
      
          <img
            src="https://assets-global.website-files.com/5c24a33f1110ec95beff12fa/5c24cb959a1575346185150d_kubo-logo.svg"
            alt=""
            class="w-16 ml-auto mr-auto"
          />
        </div>
      
        <div class="form mt-16">
          <form action="">
            <div class="email">
              <div class="required flex">
                <p class="font-bold">Email*</p>
                <p class="text-red-500 ml-auto italic">*Required Field</p>
              </div>
      
              <label for="" class="font-normal mt-3">Email*</label>
              <input type="email" class="focus:ring-0  focus:outline-none  w-full bg-transparent border-t-0 border-l-0 border-r-0 focus:border-b-2 focus:border-b-black" />
            </div>

            <div class="payment mt-16">
                <div class="required flex">
                  <p class="font-bold">Payment Information*</p>
                  <p class="text-red-500 ml-auto italic">*Required Field</p>
                </div>
        
                <label for="" class="font-normal mt-3">Card Number*</label>
                <input type="email" placeholder="1234 5678 9012 3456" class="focus:ring-0  focus:outline-none  w-full bg-transparent border-t-0 border-l-0 border-r-0 focus:border-b-2 focus:border-b-black" />
              
                <div class="card-details flex gap-5 mt-5">

                    <div class="field  w-full">
                        <label for="" class="font-normal mt-3">Expiration date *</label>
                        <input type="email" placeholder="MM/YY"  class="focus:ring-0  focus:outline-none  w-full bg-transparent border-t-0 border-l-0 border-r-0 focus:border-b-2 focus:border-b-black" />    
                    </div>
                    
                    <div class="field w-full">
                        <label for="" class="font-normal mt-3">Security code*</label>
                        <input type="email" placeholder="CVC" class="focus:ring-0  focus:outline-none  w-full bg-transparent border-t-0 border-l-0 border-r-0 focus:border-b-2 focus:border-b-black" />    
                    </div>
                </div>
                
                <div class="field mt-6  w-full">
                    <label for="" class="font-normal mt-3">Full Name  *</label>
                    <input type="email"  class="focus:ring-0  focus:outline-none  w-full bg-transparent border-t-0 border-l-0 border-r-0 focus:border-b-2 focus:border-b-black" />    
                </div>

                <div class="field mt-6 w-full">
                    <label for="" class="font-normal mt-3">Address  *</label>
                    <input type="email"   class="focus:ring-0  focus:outline-none  w-full bg-transparent border-t-0 border-l-0 border-r-0 focus:border-b-2 focus:border-b-black" />    
                </div>

                <div class="card-details flex gap-5 mt-5">

                    <div class="field  w-full">
                        <label for="" class="font-normal mt-3">City *</label>
                        <input type="email"  class="focus:ring-0  focus:outline-none  w-full bg-transparent border-t-0 border-l-0 border-r-0 focus:border-b-2 focus:border-b-black" />    
                    </div>
                    
                    <div class="field w-full">
                        <label for="" class="font-normal mt-3">Postal Code*</label>
                        <input type="email"  class="focus:ring-0  focus:outline-none  w-full bg-transparent border-t-0 border-l-0 border-r-0 focus:border-b-2 focus:border-b-black" />    
                    </div>
                </div>
                
            
            </div>

            <div class="submit mt-16">
                <p>By clicking on <span class="font-bold">"Confirm order"</span>, I accept the general conditions of sale .</p>
                <button type="submit" class="submit-btn w-full bg-transparent outline mt-4 outline-[1px] hover:bg-black hover:text-white py-3 font-bold">Submit</button>
            </div>
          </form>
        </div>

      </div>

      <div class="basket lg:fixed w-full lg:top-0  lg:w-[32%] lg:h-full lg:right-0 bg-white z-40">
        <div class="head py-6 px-4 border-b flex">
          <p class="text-lg font-bold">your basket</p>
        </div>
      
        <div class="body p-4">
          <div class="basket-item flex">
            <img
              src="https://i.pinimg.com/564x/b9/e3/d3/b9e3d3c4afc2f5edd0b8988584502686.jpg"
              alt=""
              class="w-32 h-32 object-cover"
            />
      
            <div class="ml-4">
              <p class="text-lg font-bold">Tarte Pistache d'Iran</p>
              <p class="text-2xl font-bold">6,40 €</p>
      
              <p class="text-sm text-red-500 cursor-pointer">Delete</p>
            </div>
      
            <p class="ml-auto border h-6 p-4 flex items-center">6</p>
          </div>

          <div class="basket-item mt-6 flex">
            <img
              src="https://i.pinimg.com/564x/b9/e3/d3/b9e3d3c4afc2f5edd0b8988584502686.jpg"
              alt=""
              class="w-32 h-32 object-cover"
            />
      
            <div class="ml-4">
              <p class="text-lg font-bold">Tarte Pistache d'Iran</p>
              <p class="text-2xl font-bold">6,40 €</p>
      
              <p class="text-sm text-red-500 cursor-pointer">Delete</p>
            </div>
      
            <p class="ml-auto border h-6 p-4 flex items-center">6</p>
          </div>

          <div class="basket-item mt-6 flex">
            <img
              src="https://i.pinimg.com/564x/b9/e3/d3/b9e3d3c4afc2f5edd0b8988584502686.jpg"
              alt=""
              class="w-32 h-32 object-cover"
            />
      
            <div class="ml-4">
              <p class="text-lg font-bold">Tarte Pistache d'Iran</p>
              <p class="text-2xl font-bold">6,40 €</p>
      
              <p class="text-sm text-red-500 cursor-pointer">Delete</p>
            </div>
      
            <p class="ml-auto border h-6 p-4 flex items-center">6</p>
          </div>

          <div class="footer mt-12 border-t p-4">
            <div class="w-full flex justify-between">
              <p class="text-2xl font-bold">Total</p>
              <p class="text-3xl font-bold">6,40 €</p>
            </div>

            <div class="coupon flex gap-3">
              <input type="text" placeholder="Enter coupon code" class="w-[50%] focus:ring-0  bg-transparent border-t-0 border-l-0 border-r-0  focus:border-b-black" />
                
            <a href="/checkout"
            class="w-[50%]"
            ><button
              href="/checkout"
              class="w-full mt-5 outline outline-[1px] hover:bg-black hover:text-white outline-black font-bold py-3"
            >
              Check Coupon
            </button></a
          >

            </div>
        
          </div>
        </div>
      
        
      </div>





