body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.banner {
  height: 100vh;
  width: full;
  background-image: url(https://media.istockphoto.com/id/985783858/photo/we-are-different-and-thats-what-makes-us-beautiful.jpg?s=2048x2048&w=is&k=20&c=xw8MMXlWHd7WMyEzfvTi-iPhNqXkPDPJRNuZtPgbJ4w=);
}

.news-title {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.vid-banner{
  width: 100vw;
}

.video-background {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}
.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
