body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.banner {
  height: 100vh;
  width: full;
  background-image: url(https://images.unsplash.com/photo-1570172619644-dfd03ed5d881?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.news-title {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.vid-banner{
  width: 100vw;
}

.video-background {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}
.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
