<div class="banner w-full h-[100vh] flex items-center bg-cover bg-fixed">
  @defer () {
  <div
    class="newsletter bg-white p-3 mx-14 lg:mx-0 lg:w-[25vw] lg:ml-auto lg:mr-auto"
    *ngIf="isNewsletterShown"
  >
    <svg
      class="w-10 h-10 text-gray-500 cursor-pointer antialiased dark:text-white ml-auto"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      (click)="toggleNewsletter()"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18 18 6m0 12L6 6"
      />
    </svg>

    <div class="text px-8">
      <p
        class="text-center news-title mt-4 font-semibold text-4xl dark:text-white"
      >
        Commandez dès maintenant vos galettes !
      </p>

      <p class="mt-4 text-center">
        Commandez 48h00 en avance Dispo jusqu'à fin Janvier
      </p>

      <button
        class="mt-8 w-full outline outline-[1px] rounded-sm outline-black p-3 mb-8 hover:bg-black hover:text-white"
      >
        Passer Commander
      </button>
    </div>
  </div>
  } @loading(minimum 1.2s){}
</div>

<div class="main-page">
 <app-header/>

  <div class="body flex">
    <div class="big ml-auto mr-auto">
      <p
        class="text-[2.7rem] leading-[44px] lg:text-[4rem] font-bold news-title lg:leading-[62px] ml-auto mr-32 lg:mr-44 mt-24 w-24"
      >
        Pâtisserie <span class="italic">Artisanale</span>
      </p>
      <p class="lg:text-lg mt-4 mb-0">La matière au coeur de nos créations</p>
    </div>
  </div>

  <div class="card-wrap p-4 lg:p-24">
    <div
      class="w-full h-full overflow-x-scroll scroll whitespace-nowrap scroll-smooth scrollbar-hide"
    >
      <div
        class="snap-center group lg:w-[40%] w-[60%] relative inline-block m-4 hover:scale-105 ease-in-out duration-300"
      >
        <div class="service-content-wrapper">
          <img
            src="https://i.pinimg.com/564x/b9/e3/d3/b9e3d3c4afc2f5edd0b8988584502686.jpg"
            loading="lazy"
            width="474"
            alt=""
            srcset="
              https://assets.website-files.com/6297a85b623dbc4d2af0b225/6297a85b623dbc0e34f0b24e_Toca-test-p-500.jpeg 500w,
              https://assets.website-files.com/6297a85b623dbc4d2af0b225/6297a85b623dbc0e34f0b24e_Toca-test-p-800.jpeg 800w,
              https://i.pinimg.com/564x/b9/e3/d3/b9e3d3c4afc2f5edd0b8988584502686.jpg                                  948w
            "
            class="whatson-img w-full lg:lg:h-[60vh] object-cover"
          />
          <div class="shop-item">
            <svg
              class="w-20 h-20 absolute invisible group-hover:visible cursor-pointer p-2 top-[40%] left-[39%] bg-white bg-opacity-40 text-black dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 1 12c0 .5-.5 1-1 1H6a1 1 0 0 1-1-1L6 8h12Z"
              />
            </svg>
          </div>

          <div
            class="overlay absolute top-auto px-6 p-4 z-10 flex bottom-0 bg-black bg-opacity-35 w-full"
          >
            <h3 class="news-title text-2xl font-bold text-white">Coca Cola</h3>
            <p class="ml-auto text-white">$59.99</p>
          </div>
        </div>
      </div>

      <div
        class="snap-center group lg:w-[40%] w-[60%] relative inline-block m-4 hover:scale-105 ease-in-out duration-300"
      >
        <div class="service-content-wrapper">
          <img
            src="https://i.pinimg.com/564x/b9/e3/d3/b9e3d3c4afc2f5edd0b8988584502686.jpg"
            loading="lazy"
            width="474"
            alt=""
            srcset="
              https://assets.website-files.com/6297a85b623dbc4d2af0b225/6297a85b623dbc0e34f0b24e_Toca-test-p-500.jpeg 500w,
              https://assets.website-files.com/6297a85b623dbc4d2af0b225/6297a85b623dbc0e34f0b24e_Toca-test-p-800.jpeg 800w,
              https://i.pinimg.com/564x/b9/e3/d3/b9e3d3c4afc2f5edd0b8988584502686.jpg                                  948w
            "
            class="whatson-img w-full lg:lg:h-[60vh] object-cover"
          />

          <div class="shop-item">
            <svg
              class="w-20 h-20 absolute invisible group-hover:visible cursor-pointer p-2 top-[40%] left-[39%] bg-white bg-opacity-40 text-black dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 1 12c0 .5-.5 1-1 1H6a1 1 0 0 1-1-1L6 8h12Z"
              />
            </svg>
          </div>

          <div
            class="overlay absolute top-auto px-6 p-4 z-10 flex bottom-0 bg-black bg-opacity-35 w-full"
          >
            <h3 class="news-title text-2xl font-bold text-white">Coca Cola</h3>
            <p class="ml-auto text-white">$59.99</p>
          </div>
        </div>
      </div>

      <div
        class="snap-center group lg:w-[40%] w-[60%] relative inline-block m-4 hover:scale-105 ease-in-out duration-300"
      >
        <div class="service-content-wrapper">
          <img
            src="https://i.pinimg.com/564x/b9/e3/d3/b9e3d3c4afc2f5edd0b8988584502686.jpg"
            loading="lazy"
            width="474"
            alt=""
            srcset="
              https://assets.website-files.com/6297a85b623dbc4d2af0b225/6297a85b623dbc0e34f0b24e_Toca-test-p-500.jpeg 500w,
              https://assets.website-files.com/6297a85b623dbc4d2af0b225/6297a85b623dbc0e34f0b24e_Toca-test-p-800.jpeg 800w,
              https://i.pinimg.com/564x/b9/e3/d3/b9e3d3c4afc2f5edd0b8988584502686.jpg                                  948w
            "
            class="whatson-img w-full lg:lg:h-[60vh] object-cover"
          />
          <div class="shop-item">
            <svg
              class="w-20 h-20 absolute invisible group-hover:visible cursor-pointer p-2 top-[40%] left-[39%] bg-white bg-opacity-40 text-black dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 1 12c0 .5-.5 1-1 1H6a1 1 0 0 1-1-1L6 8h12Z"
              />
            </svg>

            
          </div>

          <div
            class="overlay absolute top-auto px-6 p-4 z-10 flex bottom-0 bg-black bg-opacity-35 w-full"
          >
            <h3 class="news-title text-2xl font-bold text-white">Coca Cola</h3>
            <p class="ml-auto text-white">$59.99</p>
          </div>
        </div>
      </div>

      <div
        class="snap-center group lg:w-[40%] w-[60%] relative inline-block m-4 hover:scale-105 ease-in-out duration-300"
      >
        <div class="service-content-wrapper">
          <img
            src="https://i.pinimg.com/564x/b9/e3/d3/b9e3d3c4afc2f5edd0b8988584502686.jpg"
            loading="lazy"
            width="474"
            alt=""
            srcset="
              https://assets.website-files.com/6297a85b623dbc4d2af0b225/6297a85b623dbc0e34f0b24e_Toca-test-p-500.jpeg 500w,
              https://assets.website-files.com/6297a85b623dbc4d2af0b225/6297a85b623dbc0e34f0b24e_Toca-test-p-800.jpeg 800w,
              https://i.pinimg.com/564x/b9/e3/d3/b9e3d3c4afc2f5edd0b8988584502686.jpg                                  948w
            "
            class="whatson-img w-full lg:lg:h-[60vh] object-cover"
          />

          <div class="shop-item">
            <svg
              class="w-20 h-20 absolute invisible group-hover:visible cursor-pointer p-2 top-[40%] left-[39%] bg-white bg-opacity-40 text-black dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 1 12c0 .5-.5 1-1 1H6a1 1 0 0 1-1-1L6 8h12Z"
              />
            </svg>
          </div>

          <div
            class="overlay absolute top-auto px-6 p-4 z-10 flex bottom-0 bg-black bg-opacity-35 w-full"
          >
            <h3 class="news-title text-2xl font-bold text-white">Coca Cola</h3>
            <p class="ml-auto text-white">$59.99</p>
          </div>
        </div>
      </div>

      <div
        class="snap-center group lg:w-[40%] w-[60%] relative inline-block m-4 hover:scale-105 ease-in-out duration-300"
      >
        <div class="service-content-wrapper">
          <img
            src="https://i.pinimg.com/564x/b9/e3/d3/b9e3d3c4afc2f5edd0b8988584502686.jpg"
            loading="lazy"
            width="474"
            alt=""
            srcset="
              https://assets.website-files.com/6297a85b623dbc4d2af0b225/6297a85b623dbc0e34f0b24e_Toca-test-p-500.jpeg 500w,
              https://assets.website-files.com/6297a85b623dbc4d2af0b225/6297a85b623dbc0e34f0b24e_Toca-test-p-800.jpeg 800w,
              https://i.pinimg.com/564x/b9/e3/d3/b9e3d3c4afc2f5edd0b8988584502686.jpg                                  948w
            "
            class="whatson-img w-full lg:lg:h-[60vh] object-cover"
          />

          <div class="shop-item">
            <svg
              class="w-20 h-20 absolute invisible group-hover:visible cursor-pointer p-2 top-[40%] left-[39%] bg-white bg-opacity-40 text-black dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 1 12c0 .5-.5 1-1 1H6a1 1 0 0 1-1-1L6 8h12Z"
              />
            </svg>
          </div>

          <div
            class="overlay absolute top-auto px-6 p-4 z-10 flex bottom-0 bg-black bg-opacity-35 w-full"
          >
            <h3 class="news-title text-2xl font-bold text-white">Coca Cola</h3>
            <p class="ml-auto text-white">$59.99</p>
          </div>
        </div>
      </div>

      <div
        class="snap-center group lg:w-[40%] w-[60%] relative inline-block m-4 hover:scale-105 ease-in-out duration-300"
      >
        <div class="service-content-wrapper">
          <img
            src="https://i.pinimg.com/564x/b9/e3/d3/b9e3d3c4afc2f5edd0b8988584502686.jpg"
            loading="lazy"
            width="474"
            alt=""
            srcset="
              https://assets.website-files.com/6297a85b623dbc4d2af0b225/6297a85b623dbc0e34f0b24e_Toca-test-p-500.jpeg 500w,
              https://assets.website-files.com/6297a85b623dbc4d2af0b225/6297a85b623dbc0e34f0b24e_Toca-test-p-800.jpeg 800w,
              https://i.pinimg.com/564x/b9/e3/d3/b9e3d3c4afc2f5edd0b8988584502686.jpg                                  948w
            "
            class="whatson-img w-full lg:lg:h-[60vh] object-cover"
          />

          <div class="shop-item">
            <svg
              class="w-20 h-20 absolute invisible group-hover:visible cursor-pointer p-2 top-[40%] left-[39%] bg-white bg-opacity-40 text-black dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 1 12c0 .5-.5 1-1 1H6a1 1 0 0 1-1-1L6 8h12Z"
              />
            </svg>
          </div>

          <div
            class="overlay absolute top-auto px-6 p-4 z-10 flex bottom-0 bg-black bg-opacity-35 w-full"
          >
            <h3 class="news-title text-2xl font-bold text-white">Coca Cola</h3>
            <p class="ml-auto text-white">$59.99</p>
          </div>
        </div>
      </div>

      <div
        class="snap-center group lg:w-[40%] w-[60%] relative inline-block m-4 hover:scale-105 ease-in-out duration-300"
      >
        <div class="service-content-wrapper">
          <img
            src="https://i.pinimg.com/564x/b9/e3/d3/b9e3d3c4afc2f5edd0b8988584502686.jpg"
            loading="lazy"
            width="474"
            alt=""
            srcset="
              https://assets.website-files.com/6297a85b623dbc4d2af0b225/6297a85b623dbc0e34f0b24e_Toca-test-p-500.jpeg 500w,
              https://assets.website-files.com/6297a85b623dbc4d2af0b225/6297a85b623dbc0e34f0b24e_Toca-test-p-800.jpeg 800w,
              https://i.pinimg.com/564x/b9/e3/d3/b9e3d3c4afc2f5edd0b8988584502686.jpg                                  948w
            "
            class="whatson-img w-full lg:lg:h-[60vh] object-cover"
          />

          <div class="shop-item">
            <svg
              class="w-20 h-20 absolute invisible group-hover:visible cursor-pointer p-2 top-[40%] left-[39%] bg-white bg-opacity-40 text-black dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 1 12c0 .5-.5 1-1 1H6a1 1 0 0 1-1-1L6 8h12Z"
              />
            </svg>
          </div>

          <div
            class="overlay absolute top-auto px-6 p-4 z-10 flex bottom-0 bg-black bg-opacity-35 w-full"
          >
            <h3 class="news-title text-2xl font-bold text-white">Coca Cola</h3>
            <p class="ml-auto text-white">$59.99</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-[3vh] w-full">
  <a
    href="/all-products"
    class="outline font-semibold hover:text-white hover:bg-black ease-out duration-300 outline-[0.07rem] p-6 hover:p-8 hover:h-24 hover:w-24 h-20 w-20 flex items-center rounded-full ml-auto mr-auto mb-24"
  >
    Shop
  </a>

  <p
    class="news-title text-center px-12 lg:w-[47vw] ml-auto mr-auto text-3xl pb-24"
  >
    Inspiré par le monde de la parfumerie, Kubo vous fait découvrir à travers
    des accords de matières surprenants, de nouveaux territoires gustatifs.
  </p>
</div>

<div class="additional-info px-12 flex gap-2 lg:gap-16 lg:px-44 pb-32">
  <div class="pic1">
    <img
      src="https://i.pinimg.com/564x/03/97/03/039703c15c4cd6b8b0c4671666d24ff0.jpg"
      alt=""
      width=""
      class="lg:ml-auto rounded-md cursor-pointer  w-[42vw] lg:h-[70vh] object-cover"
    />

    <p class="lg:w-96 w-[92%] ml-auto mr-24 font-semibold mt-6 lg:mt-24">
      Chacune de nos créations est le fruit d’un travail minutieux, un accord de
      matières de qualité pour obtenir un équilibre, une puissance des goûts
      sans ajout de sucre
    </p>

    <p class="w-28 lg:ml-auto mt-3 lg:mt-12">
      <span class="outline mr-2"></span> En Savoir Plus
    </p>
  </div>

  <img
    src="https://i.pinimg.com/564x/9a/2a/7a/9a2a7a3f38072fb7f85d727ce8716682.jpg"
    alt=""
    class="w-[42vw]  lg:h-[90vh] mt-24 rounded-md object-cover"
  />
</div>

<div
  class="our-shop px-12 lg:px-60 lg:flex gap-[30vw] leading-[50px] lg:leading-[63px]"
>
  <p class="news-title font-bold w-24 text-[3rem] italic">
    Our <span class="italic">Shop</span>
  </p>
  <ul>
    <li>25, rue Jacques Louvel-Tessier</li>
    <li class="-mt-6">75020 Paris</li>
    <li class="-mt-6">T. 09 83 33 90 11</li>
    <li class="-mt-6 font-bold">contactkubo-patisserie.com</li>
  </ul>
</div>

<div class="video-banner ">
  <video
    autoplay=""
    loop=""
    muted=""
    playsinline=""
    data-wf-ignore="true"
    data-object-fit="cover"
    class="min-w-full lg:h-[65vh] h-[30vh]"
  >
    <source
      src="https://assets.website-files.com/6297a85b623dbc4d2af0b225/6297a85b623dbcb1a5f0b2be_Hero%2020-%20video%20-%20website_1.mp4"
      data-wf-ignore="true"
    />
    <source
      src="https://assets.website-files.com/6297a85b623dbc4d2af0b225/6297a85b623dbcb1a5f0b2be_Hero%2020-%20video%20-%20website_1-transcode.ogv"
      data-wf-ignore="true"
    />
  </video>
</div>

<!-- <div class="process-banner py-6 px-56 w-full lg:p-16 lg:mx-56">
  <ul class="lg:flex md:gap-44">
    <li class="mt-3 lg:mt-0">
      <div class="piece">
        <img
          src="https://assets-global.website-files.com/5c24a33f1110ec95beff12fa/5c25d4403c78e55b598e04de_fabrication_a5b6b11d.svg"
          alt=""
          width="60"
          class="object-center"
        />
        <p class="font-semibold mt-4 text-lg -ml-4">Manufacture</p>
        <p class="mt-1 -ml-2">100% artisanal</p>
      </div>
    </li>

    <li class="mt-12 lg:mt-0">
      <div class="piece">
        <img
          src="https://assets-global.website-files.com/5c24a33f1110ec95beff12fa/5c25d4403c78e55b598e04de_fabrication_a5b6b11d.svg"
          alt=""
          width="60"
          class="object-center"
        />
        <p class="font-semibold mt-4 text-lg -ml-4">Manufacture</p>
        <p class="mt-1 -ml-2">100% artisanal</p>
      </div>
    </li>

    <li class="mt-12 lg:mt-0">
      <div class="piece">
        <img
          src="https://assets-global.website-files.com/5c24a33f1110ec95beff12fa/5c25d4403c78e55b598e04de_fabrication_a5b6b11d.svg"
          alt=""
          width="60"
          class="object-center"
        />
        <p class="font-semibold mt-4 text-lg -ml-4">Manufacture</p>
        <p class="mt-1 -ml-2">100% artisanal</p>
      </div>
    </li>
  </ul>
</div> -->

<app-footer/>
