body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.banner {
  height: 100vh;
  width: full;
  background-image: url(https://media.istockphoto.com/id/985783858/photo/we-are-different-and-thats-what-makes-us-beautiful.jpg?s=2048x2048&w=is&k=20&c=xw8MMXlWHd7WMyEzfvTi-iPhNqXkPDPJRNuZtPgbJ4w=);
}

.news-title {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}
