<div class="header flex p-4 font-semibold">
    <div class="left ml-8 p-8">
      <ul class="flex gap-4 cursor-pointer">
        <a href="/single-product"><li>Shop</li></a>
        <li>Brunch</li>
      </ul>
    </div>
    <img
      src="https://assets-global.website-files.com/5c24a33f1110ec95beff12fa/5c24cb959a1575346185150d_kubo-logo.svg"
      alt=""
      width="60"
      class="ml-auto cursor-pointer"
    />
    <div class="right ml-auto mr-8 p-8">
      <ul class="flex gap-4 cursor-pointer">
        <li>A Propos</li>
        <li>Contact</li>
      </ul>
    </div>
  </div>