<app-dash-framework />

<app-add-product-modal *ngIf="addProduct" [isModalOpened]="addProduct" (closeModalEvent)="modalToggle('addProduct', productId, product)" />
<app-delete-product-modal *ngIf="deleteProduct" [isModalOpened]="deleteProduct" [productId]="productId" (closeModalEvent)="modalToggle('deleteProduct', productId, product)" />
<app-edit-product-modal *ngIf="editProduct" [isModalOpened]="editProduct" [ProductEdit]="product" [productId]="productId" (closeModalEvent)="modalToggle('editProduct', productId, product)" />

<!-- Rest of your HTML code remains the same -->


<div class="p-8 lg:p-12 sm:ml-64"> 
  <div class="p-header mt-14 mb-10 flex">
    <p class="text-black text-2xl font-bold">Products</p>

    <p
      class="ml-auto mr-14 h-12 items-center cursor-pointer hover:text-gray-500 hover:bg-emerald-200 rounded-lg p-2 flex bg-gray-200 text-[3rem]"
      data-modal-target="add-modal"
      data-modal-toggle="add-modal"
      (click)="modalToggle('addProduct', productId, product)"
    >
      +
    </p>
  </div>

  <div
    class="cards-wrap lg:grid lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-5"
  >
    <div
      class="product-card mb-36 rounded-lg relative"
      *ngFor="let product of myProducts"
    >
      <img
        [src]="product.image"
        class="h-80 w-72 object-cover rounded-xl"
        width="180px"
        height="180px"
      />
      <svg
        class="w-8 h-8 absolute hover:bg-red-400 top-5 left-60 bg-red-200 p-2 rounded-full text-red-700 dark:text-white cursor-pointer"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 18 20"
        data-modal-target="popup-modal"
        data-modal-toggle="popup-modal"
        (click)="modalToggle('deleteProduct', product.id , product)"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h16M7 8v8m4-8v8M7 1h4a1 1 0 0 1 1 1v3H6V2a1 1 0 0 1 1-1ZM3 5h12v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V5Z"
        />
      </svg>

      <div
        class="p-4 product-desc h-[170px] bg-white absolute top-[80%] w-72 shadow-xl rounded-lg"
      >
        <p class="font-bold mb-1 line-clamp-1">{{ product.title }}</p>

        <p class="text-slate-500 text-[0.7rem] line-clamp-2">
          {{ product.description }}
        </p>

        <div class="price flex w-full pb-6 mt-6">
          <p class="font-bold">${{ product.price }}</p>

          <button
            data-modal-target="crud-modal"
            data-modal-toggle="crud-modal"
            (click)="modalToggle('editProduct', product.id, product)"
            class="bg-indigo-100 hover:bg-indigo-300 px-2 text-indigo-600 ml-44 p-1 rounded-lg"
          >
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
