.page-wrapper {
    height: 100vh;
    width: 100vw;
    background-image: url(https://media.istockphoto.com/id/1447417199/photo/group-of-happy-women-with-different-skin-tones-smiling-and-embracing-each-other-in-a-studio.jpg?s=2048x2048&w=is&k=20&c=pTNJOmC2vrBAvAu4BOaeA6HiBqyemvmIWceDljXqN1A=);
    background-size: center;
    background-repeat: no-repeat;
}