<app-header
  [showCartButton]="false"
  class="absolute z-10 bg-black bg-opacity-20 top-0 w-full"
/>

<div
  class="error-toast shadow-2xl shadow-red-400 lg:w-80 bg-red-100 rounded-lg absolute top-16 right-6 z-30"
>
  <svg
    class="w-6 h-6 ml-auto text-gray-800 dark:text-white"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 24 24"
  >
    <path
      fill-rule="evenodd"
      d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z"
      clip-rule="evenodd"
    />
  </svg>

  <div class="main w-full ml-auto mr-auto p-6 pt-0">
    <svg
      class="w-16 h-16 ml-auto mr-auto text-red-600 dark:text-white divide-y-2"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        fill-rule="evenodd"
        d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm11-4a1 1 0 1 0-2 0v5a1 1 0 1 0 2 0V8Zm-1 7a1 1 0 1 0 0 2 1 1 0 1 0 0-2Z"
        clip-rule="evenodd"
      />
    </svg>

    <p
      class="text-red-500 text-center w-full border-t border-gray-300 pt-3 mt-3 ml-auto mr-auto mb-3"
    >
      Nooo! Something went wrong
    </p>
    <p class="text-gray-500 w-full text-center">
      We're sorry that you have to experience some problems! Please try again
    </p>
  </div>
</div>

<div
  class="success-toast shadow-2xl shadow-emerald-400 lg:w-80 bg-emerald-100 rounded-lg absolute top-96 right-6 z-30"
>
  <svg
    class="w-6 h-6 ml-auto text-gray-800 dark:text-white"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 24 24"
  >
    <path
      fill-rule="evenodd"
      d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z"
      clip-rule="evenodd"
    />
  </svg>

  <div class="main w-full ml-auto mr-auto p-6 pt-0">
    <svg
      class="w-16 h-16 ml-auto mr-auto text-emerald-600 dark:text-white divide-y-2"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        fill-rule="evenodd"
        d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm5.5 1a.5.5 0 0 0-1 0 5 5 0 0 0 1.6 3.4 5.5 5.5 0 0 0 7.8 0 5 5 0 0 0 1.6-3.4.5.5 0 0 0-1 0h-.2l-1 .3a18.9 18.9 0 0 1-7.8-.4ZM9 8a1 1 0 0 0 0 2 1 1 0 1 0 0-2Zm6 0a1 1 0 1 0 0 2 1 1 0 1 0 0-2Z"
        clip-rule="evenodd"
      />
    </svg>

    <p
      class="text-emerald-500 text-center w-full border-t border-gray-300 pt-3 mt-3 ml-auto mr-auto mb-3"
    >
      Nooo! Something went wrong
    </p>
    <p class="text-gray-500 w-full text-center">
      We're sorry that you have to experience some problems! Please try again
    </p>
  </div>
</div>

<section class="page-wrapper wf-section">
  <div class="w-layout-grid grid_1-2">
    <div id="w-node-b994db6f-7fb4-032d-dad5-adb9c36920d2-447d2457">
      <img
        src="https://assets.website-files.com/646c9219c2344eff447d244f/646c96f2f9a86b1e25f3f8df_6447a80a2b62360f78754452_logo.svg"
        loading="lazy"
        id="w-node-_481d4ae6-07c3-0a1a-9f8a-81622cb36404-447d2457"
        alt=""
      />
      <h1 class="h1_white">Beauty Products <strong>with KylieFinds</strong></h1>
    </div>
    <div
      id="w-node-_5b73318a-2f42-aadc-4944-7202ecbeb36d-447d2457"
      class="form-wrap"
    >
      <h1 class="h1">Log in to your account</h1>
      <div class="form-block w-form">
        <form class="form" [formGroup]="loginForm" (ngSubmit)="loginUser()">
          <input
            type="email"
            class="placeholder:ml-12 w-full mb-5 focus:ring-0 focus:outline-none focus:border-purple-600"
            maxlength="256"
            formControlName="email"
            data-name="Emai"
            placeholder="Your e-mail"
          /><input
            type="password"
            class="w-full mb-5 focus:ring-0 focus:outline-none focus:border-purple-600"
            maxlength="256"
            name="Password"
            formControlName="password"
            data-name="Password"
            placeholder="Password"
            id="Password"
            data-ms-member="password"
            required=""
          />
          <div class="links-wrap">
            <div class="links">
              <a href="signup" class="link">Register</a
              ><a data-ms-modal="forgot-password" href="#" class="link"
                >Forgot Password?</a
              >
            </div>
            <button
              [disabled]="loginForm.invalid"
              type="submit"
              class="bg-purple-600 p-2 rounded-lg hover:bg-purple-800 text-white news-title text-lg disabled:opacity-30"
            >
              Sign In
            </button>
          </div>
        </form>
        <div
          class="w-form-done"
          tabindex="-1"
          role="region"
          aria-label="Email Form success"
        >
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div
          class="w-form-fail"
          tabindex="-1"
          role="region"
          aria-label="Email Form failure"
        >
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="blob"></div>
</section>
