<div
  class="fixed shadow w-[45%] lg:w-[68%] h-full bg-black z-30 opacity-40"
></div>

<div
  class="cart fixed top-0 w-[55%] lg:w-[32%] h-full right-0 bg-white z-40"
>
  <div class="head py-6 px-4 border-b flex">
    <p class="text-lg font-bold">your basket</p>

    <svg
      class="w-7 h-7 ml-auto text-gray-800 cursor-pointer dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      (click)="onCloseCart()"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18 18 6m0 12L6 6"
      />
    </svg>
  </div>

  <div class="body p-4">
    <!-- cart.component.html -->
<div *ngIf="items.length > 0; else emptyCart" >

  <div class="overflow-y-scroll h-[500px] scrollbar-hide ">
    <div class="basket-item flex scroll mb-5 "*ngFor="let item of items">
      <img [src]="item.image" alt="" class="w-32 h-32 object-cover">
      <div class="ml-4">
        <p class="text-lg font-bold">{{ item.title }}</p>
        <p class="text-2xl font-bold">{{ item.price }} €</p>
        <p class="text-sm text-red-500 cursor-pointer" (click)="removeFromCart(item)">Delete</p>
      </div>
      <!-- <p class="ml-auto border h-6 p-4 flex items-center">{{item.quantity}}</p> -->
    </div>
  </div>
  <div class="foote bg-white  bottom-0 absolute w-full border-t p-4 pr-12">
    <div class="w-full flex justify-between">
      <p class="text-2xl font-bold">Total</p>
      <p class="text-3xl font-bold">{{ total }} €</p>
    </div>
    <a href="/checkout"
      ><button
        href="/checkout"
        class="w-full mt-5 outline outline-[1px] hover:bg-black hover:text-white outline-black font-bold py-3"
      >
        Checkout
      </button></a
    >
  </div>
</div>

<ng-template #emptyCart>
  <p>Your cart is empty.</p>
</ng-template>

  </div>

 
</div>
